@CHARSET "UTF-8";
.menu{
	font-size: 11px;
}
.mainScreen{
	margin-top: 20px;
}
.leftSide {
    width: 150px;
    float: left;
}
.rightSide {
    width: 1240px;
    padding-left:10px;
    float: right;
}
.kanban {
	background:linear-gradient(#e4effb, #f7fafe);
	border: 1px solid #aabccf;
}
.kanban, .bar {
	border-radius: 5px 5px 0px 0px;
}
.bar {
    background: rgba(0, 0, 0, 0) linear-gradient(#e1edf9, #dceaf9) repeat scroll 0 0;
    border-bottom: 1px solid #aabccf;
    color: #094b8d;
    font-size: 16px;
    font-weight: normal;
    padding: 5px 10px;
}
.action {
    background: linear-gradient( #e4effb, #f7fafe);
    height: 25px;
    border-bottom: solid 1px #aabccf;
    padding-top: 2px;
}
.action .tool{
    float: left;
    color: #333;
    position: relative;
    margin-left: 5px;
}
.action .tool a{
    color: inherit;
    height: 25px;
    display: block;
    line-height: 25px;
    padding: 0px 10px;
    border-radius: 3px 3px 0px 0px;
    border-top: #e4effb solid 1px;
    border-left: #e4effb solid 1px;
    border-right: #e4effb solid 1px;
    cursor: default;
    box-sizing: border-box;
    outline: 0;
}
.boxup,
.action .tool.active a,
.action .tool a:HOVER{
    border-top: #aabccf solid 1px;
    border-left: #aabccf solid 1px;
    border-right: #aabccf solid 1px;
}
.action .tool.active a{
    border-bottom: #e4effb solid 1px;
    z-index:4;
    position: relative;
}
.box.active .boxup,
.action .tool.active .boxup{
    display: block;
}
.boxup{
    position: absolute;
    left: 0px;
    top: 24px;
    background: linear-gradient( #e4effb, #f7fafe);
    z-index: 3;
    display: block;
    box-shadow: 3px 3px 5px 1px rgba(16, 25, 34, 0.26);
    display: none;
    outline: 0;
}
.data-area {
	background-color: #fff;
	padding: 20px;
}
.grid {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border-collapse: collapse;
}
.grid td {
	vertical-align: top;
	padding: 5px;
}
.grid tr {
	border-top: 1px dotted #aabccf;
}
.grid tr:FIRST-CHILD {
	border-top: none;
}
.grid .images{
	width: 70px;
}
.grid .images img{
	box-sizing: border-box;
	width: 60px;
	height: 60px;
	border: #e4effb solid 1px;
}
.tool2 a{
	margin-left: 10px;
	display: inline-block;
	padding: 3px 4px;
	border-radius: 3px;
	border: transparent solid 1px;
	font-size: 12px;
	font-weight: bold;
}
.tool2 a:HOVER{
	background: linear-gradient( #e4effb, #f7fafe);
	border: #aabccf solid 1px;
}
.tool2 a i{
	margin-right: 5px;
}
.preview {
	font-size: 15px;
}
.orther span{
	margin-left: 10px;
}
.orther span:FIRST-CHILD{
    margin-left: 0;
}
#create-product {
	-webkit-transition: width 1s height 1s; /* For Safari 3.1 to 6.0 */
    transition: width 1s height 1s;
    width: 200px;
    height: 200px;
}
.active #create-product{
	width: 1232px;
	height: 600px;
}
#create-product table{
	width: 80%;
	position: relative;
	margin: 0 auto;
}
.attachment {
	float: left;
	position: relative;
	overflow: hidden;
}
.attachment .file-image{
	border: #909090 dotted 2px;
}
.attachment:HOVER .file-image{
	color: #c3a069;
	border: #c3a069 dotted 2px;
}
.preview-div {
	float: left;
}
.preview-div .pre-image,
.attachment .file-image {
	color: #909090;
	display: inline-block;
	font-size: 20px;
	box-shadow: 0 1px 3px rgba(98, 98, 98, 0.34);
	box-sizing: border-box;
	width: 80px;
	height: 100px;
	position: relative;
	margin-right: 10px;
}
.preview-div .pre-image:HOVER:AFTER{
	content: "";
	position: absolute;
	top: 0;
	right:0;
	bottom: 0;
	left:0;
	background-color: rgba(79, 76, 76, 0.2) !important;
}
.preview-div .pre-image .rm-image:HOVER{
	background-position: -96px 0px;
}
.preview-div .pre-image .rm-image {
	position: absolute;
	width: 16px;
	height: 16px;
	top: -6px;
	right: -6px;
	color: #af1919;
	border-radius: 50%;
	text-align: center;
	background-image: url("/css/controls.svg");
	background-position: -80px 0px;
	background-size: auto 16px; 
	z-index:2;
}
.attachment .file-image {
	padding: 18px;
}
.attachment input[type="file"] {
    bottom: 0;
    cursor: inherit;
    font-size: 1000px !important;
    height: 300px;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
}